In [ ]:
import pandas as pd
from word_replacer import *

# Loading PAWS_WIKI Datasets

In [3]:
data = pd.read_csv(r"Final\paws_wiki.tsv",sep="\t")

In [4]:
data.head()

,id,sentence1,sentence2,label
0,1,"In Paris , in October 1560 , he secretly met t...","In October 1560 , he secretly met with the Eng...",0
1,2,The NBA season of 1975 -- 76 was the 30th seas...,The 1975 -- 76 season of the National Basketba...,1
2,3,"There are also specific discussions , public p...","There are also public discussions , profile sp...",0
3,4,When comparable rates of flow can be maintaine...,The results are high when comparable flow rate...,1
4,5,It is the seat of Zerendi District in Akmola R...,It is the seat of the district of Zerendi in A...,1

In [5]:
#creating dataframe to collected generated synonyms sentence perturbation
syn_data_wiki=pd.DataFrame(columns=["Sentence","Syn_Sentence-1","Syn_Sentence-2","Syn_Sentence-3"])
syn_data_wiki["Sentence"] = data.sentence1.sample(3500)

In [9]:

replace = WordReplacer()

# an example to demonstrate the working of word replacer file. 
replace.get_antonyms("good")

['ill', 'badness', 'evil', 'bad', 'evilness']

In [10]:
# Generating the synonyms sentence 
syn_data_wiki["Syn_Sentence-1"]= [replace.sentence_replacement(i,1,"synonyms") for i in syn_data_wiki.Sentence]
syn_data_wiki["Syn_Sentence-2"]= [replace.sentence_replacement(i,2,"synonyms") for i in syn_data_wiki.Sentence]
syn_data_wiki["Syn_Sentence-3"]= [replace.sentence_replacement(i,3,"synonyms") for i in syn_data_wiki.Sentence]

In [11]:
syn_data_wiki.head()

,Sentence,Syn_Sentence-1,Syn_Sentence-2,Syn_Sentence-3
46921,"Scurria plana is a species of sea snail , a tr...","Scurria plana is a coinage of sea snail , a tr...","Scurria plana is a species of sea snail , a tr...","Scurria plana is a mintage of sea snail , a tr..."
48525,"Sara Varga ( born April 14 , 1982 ) , professi...","Sara Varga ( born April xiv , 1982 ) , profess...","Sara Varga ( born April 14 , 1982 ) , professi...","Sara Varga ( born April 14 , 1982 ) , professi..."
1152,"Several streets are named after him , includin...","Several street are named after him , including...","several street are named after him , including...","Several street are named after him , including..."
42719,Amata leucacma is a type of moth of the family...,Amata leucacma is a type of moth of the house ...,Amata leucacma is a type of moth of the family...,Amata leucacma is a type of moth of the family...
30378,In 2012 he began working on the new 52 series ...,inward 2012 he began working on the new 52 ser...,In 2012 he began form on the new 52 serial pub...,In 2012 he get down working on the new lii ser...

In [12]:
# syn_data_wiki.to_csv(r"Final\generated_data\paws_syn_dataset.csv")

# Antonyms

In [15]:
anto_data_wiki = pd.DataFrame(data={"Sentence":syn_data_wiki["Sentence"]},columns=["Sentence","anto_Sentence-1","anto_Sentence-2","anto_Sentence-3"])

In [17]:
anto_data_wiki["anto_Sentence-1"]= [replace.sentence_replacement(i,1,"antonyms") for i in anto_data_wiki.Sentence]
anto_data_wiki["anto_Sentence-2"]= [replace.sentence_replacement(i,2,"antonyms") for i in anto_data_wiki.Sentence]
anto_data_wiki["anto_Sentence-3"]= [replace.sentence_replacement(i,3,"antonyms") for i in anto_data_wiki.Sentence]

In [18]:
anto_data_wiki.head()

,Sentence,anto_Sentence-1,anto_Sentence-2,anto_Sentence-3
46921,"Scurria plana is a species of sea snail , a tr...","Scurria plana is a species of sea snail , a fa...","Scurria plana is a species of sea snail , a un...","Scurria plana is a species of sea snail , a fa..."
48525,"Sara Varga ( born April 14 , 1982 ) , professi...","Sara Varga ( unborn April 14 , 1982 ) , profes...","Sara Varga ( unborn April 14 , 1982 ) , profes...","Sara Varga ( unborn April 14 , 1982 ) , profes..."
1152,"Several streets are named after him , includin...","Several streets are named after him , exclude ...","Several streets are named after him , exclude ...","Several streets are named after him , exclude ..."
42719,Amata leucacma is a type of moth of the family...,Amata leucacma is a type of moth of the family...,Amata leucacma is a antitype of moth of the fa...,Amata leucacma is a antitype of moth of the fa...
30378,In 2012 he began working on the new 52 series ...,In 2012 he began malfunction on the new 52 ser...,In 2012 he end working on the worn 52 series '...,In 2012 he end idle on the old 52 series '' Ba...

In [19]:
anto_data_wiki.to_csv(r"Final\generated_data\wiki_anto_dataset.csv")

# Jumbling Words

In [20]:
jumb_data_wiki=pd.DataFrame(data={"Sentence":syn_data_wiki["Sentence"]},columns=["Sentence","jumb_Sentence-1","jumb_Sentence-2","jumb_Sentence-3"])

In [21]:
jumbler = WordSwapping()

In [22]:
jumb_data_wiki["jumb_Sentence-1"]= [jumbler.random_swap(i,1) for i in jumb_data_wiki.Sentence]
jumb_data_wiki["jumb_Sentence-2"]= [jumbler.random_swap(i,2) for i in jumb_data_wiki.Sentence]
jumb_data_wiki["jumb_Sentence-3"]= [jumbler.random_swap(i,3) for i in jumb_data_wiki.Sentence]

In [23]:
jumb_data_wiki.head()

,Sentence,jumb_Sentence-1,jumb_Sentence-2,jumb_Sentence-3
46921,"Scurria plana is a species of sea snail , a tr...","Scurria plana marine a species of sea snail , ...","Scurria plana is a species of sea snail , true...","Scurria plana is the species of sea snail , a ..."
48525,"Sara Varga ( born April 14 , 1982 ) , professi...","Sara Varga ( born April 14 , 1982 ) , professi...","Sara Varga ( Sara April 14 , 1982 ) , professi...","Sara Varga ( and April Swedish , 1982 ) , prof..."
1152,"Several streets are named after him , includin...",Several streets are named after him the includ...,"Several streets are named after him , includin...","streets Several are named after him , includin..."
42719,Amata leucacma is a type of moth of the family...,Amata leucacma is a type of moth of the family...,Amata leucacma is a type of moth of the found ...,Amata leucacma Queensland a type the moth of o...
30378,In 2012 he began working on the new 52 series ...,In 2012 he began working on the new 52 series ...,In 2012 Batwing began working on the new serie...,In 2012 he began working on the new 52 series ...

In [82]:
# anto_data_wiki.to_csv(r"Final\generated_data\wiki_jumbled_dataset.csv")